<div class="wrapper-contact">
    <div class="retour-menu text-center">
        <a href="" class="link-retour-menu">
            <img src="../../../assets/images/compagnie/images/logo-rond.PNG" alt="image centrale logo théâtre">
        </a>
        <!-- <p>
            HOME
        </p> -->

    </div>
    <h1>Contactez-nous</h1>

    <p class="mail">
        cie.bistanclaque.pan&#64;gmail.com

        <a href="mailto:cie.bistanclaque.pan@gmail.com">
            <img src="./../../../assets/icon/envelope.svg" alt="icon mail">
        </a>
    </p>
    <div class="tel">
        <p id="tel-number"> 06 40 22 55 29 </p>
        <div id="icon-tel">
            <img src="./../../../assets/icon/telephone.svg" alt="icon telephone">
        </div>
    </div>
    <div class="reseaux">
        <div class="instagram">
            <a href="https://www.instagram.com/bistanclaque_pan/" target="_blank">
                <img src="./../../../assets/icon/instagram.svg" alt="icon instragram">
            </a>
        </div>
        <div class="facebook">
            <a href="https://www.facebook.com/profile.php?id=61563256361220" target="_blank">
                <img src="./../../../assets/icon/facebook.svg" alt="icon facebook">
            </a>
        </div>
    </div>
    <p class="footer ">
        <em> La compagnie Bistanclaque-Pan est une association loi 1901</em>
    </p>
</div>
<app-footer></app-footer>