<div class="wrapper-contact">
    <h1>Contactez-nous</h1>
    <p class="jesaispas">
        Administration/Production
    </p>
    <p class="mail">
        compagniebistanclaque&#64;gmail.com

        <a href="mailto:compagniebistanclaque@gmail.com">
            <img src="./../../../assets/icon/envelope.svg" alt="icon mail">
        </a>
    </p>
    <div class="tel">
        <p id="tel-number"> 06 40 22 55 29 </p>
        <div id="icon-tel">
            <img src="./../../../assets/icon/telephone.svg" alt="icon telephone">
        </div>
    </div>
    <div class="reseaux">
        <p class="Instagram">
            <a href="https://www.instagram.com/bistanclaque_pan/" target="_blank">
                <img src="./../../../assets/icon/instagram.svg" alt="icon instragram">
            </a>
        </p>
        <p class="facebook">
            <a href="" target="_blank">
                <img src="./../../../assets/icon/facebook.svg" alt="icon facebook">
            </a>
        </p>
    </div>
    <p class="footer ">
        <em> La compagnie Bistanclaque-Pan est une association loi</em>
    </p>
</div>
<app-footer></app-footer>