<div class="wrapper-compagnie ">
    <div class="retour-menu text-center">
        <a href="" class="link-retour-menu">
            <img src="../../../assets/images/compagnie/images/logo-rond.PNG" alt="image centrale logo théâtre">
        </a>
        <!-- <p>
            HOME
        </p> -->

    </div>
    <section class="text-center mx-5">
        <h1>La Compagnie</h1>
        <div class="compagnie-description">
            <p> Sidonie Vilas Boas et Romain Triouleyre créent la compagnie Borboleta Théâtre (anciennement compagnie Bistanclaque-Pan) en février 2024. En Portugais, Borboleta, qui se prononce [boulboulette], est le mot désignant le Papillon. 
                <br><br>Le Papillon pour son apparence. Rien de plus merveilleux dans la nature que cet être coloré, aussi la recherche d’une esthétique forte est au cœur du Borboleta Théâtre. Nous l’explorons à travers les couleurs, les matériaux platsiques, le maquillage, le masque ou la marionnette. 
                <br>Le Papillon pour sa liberté. De la chrysalide à l’envol. De la naissance de l’idée à la création. C’est l’éclosion des possibles, l’exploration, la légèreté, et la spontanéité. Ne jamais figer, rester dans la découverte perpétuelle, la prise de risque. <br>Le Papillon c’est l’émancipation de l’esprit et la poursuite de la créativité. Dans son envol gracieux, c’est l’esprit qui s’élève au-delà des contraintes et des limites. 
                <br<br>Ainsi, le Borboleta Théâtre traverse les styles, des relectures de classiques aux écritures personnelles, du cabaret au clown, du travail chorale au seul en scène, toujours dans cette recherche poétique et sensible, où les oreilles se greffent au cœur.  
                
                
                
            </p>
        </div>
    </section>
    <div class="trait70vw"></div>
    <h1>L'équipe Artistique</h1>
    <div class="wrapper-card">
        <div *ngFor="let membre of compagnie; let i=index" class="card">
            <div class="image">
                <img [src]="membre.photo_url" alt="photo membre">
            </div>
            <div class="description">
                <p class="nom-prenom">{{membre.prenom}} {{membre.nom}}</p>
                <p class="role">{{membre.role}}</p>
                <app-modal-presentation-membres [members]="compagnie" [index]="i"></app-modal-presentation-membres>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>