<div class="wrapper-compagnie ">
    <div class="retour-menu text-center">
        <a href="" class="link-retour-menu">
            <img src="../../../assets/images/compagnie/images/logo-rond.PNG" alt="image centrale logo théâtre">
        </a>
        <!-- <p>
            HOME
        </p> -->

    </div>
    <section class="text-center mx-5">
        <h1>La Compagnie</h1>
        <div class="compagnie-description">
            <p>Sidonie Vilas Boas et Romain Triouleyre fondent en 2024 la compagnie Bistanclaque-Pan à Lyon. Ils se sont formés au Conservatoire de Lyon, où ils se sont rencontrés.
                Sidonie Vilas Boas poursuit ses études au CNSAD avant qu'ils ne se retrouvent pour créer ensemble la compagnie.
                <br>Leur rencontre artistique embrasse l'amour du burlesque et du clown, de la musique et du texte, des couleurs, du maquillage et des paillettes. Leur esthétique se veut accessible, pour le jeune public comme pour des regards plus aguerris, et tend vers un théâtre poétique et sensible.
                Leur recherche s'inscrit dans les codes du théâtre de rue, dans un rapport presque brechtien, direct et privilégié avec le public en assumant sa théâtralité.
                <br>Leurs spectacles sont les fruits de leurs obsessions portés par de l'écriture de plateau, des écritures personnelles ou des relectures de textes classiques, ils tirent la longue pellicule de leurs cœurs pour en faire voir le film.
                
            </p>
        </div>
    </section>
    <div class="trait70vw"></div>
    <h1>L'équipe Artistique</h1>
    <div class="wrapper-card">
        <div *ngFor="let membre of compagnie; let i=index" class="card">
            <div class="image">
                <img [src]="membre.photo_url" alt="photo membre">
            </div>
            <div class="description">
                <p class="nom-prenom">{{membre.prenom}} {{membre.nom}}</p>
                <p class="role">{{membre.role}}</p>
                <app-modal-presentation-membres [members]="compagnie" [index]="i"></app-modal-presentation-membres>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>