/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

@font-face {
    font-family: 'Catamaran';
    src: url('./assets/fonts/Catamaran/Catamaran-VariableFont_wght.ttf') format('truetype');

}

@font-face {
    font-family: 'Sue_Ellen_Francisco';
    src: url('./assets/fonts/Sue_Ellen_Francisco/SueEllenFrancisco-Regular.ttf') format('truetype');

}

* {
    --bg-color-primary: #F2EDDB
}

section {
    margin-top: 25px;
}

h1,
h2 {
    font-family: 'Sue_Ellen_Francisco';
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 3px;
    margin-bottom: 15px;
}

h2 {
    font-size: 2.5rem;
}