<ng-template #content let-modal>
    <div class="wrapper">
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        <div class="modal-body">
            <h1 class="text-center" id="titre-spectacle">
                {{spectacle.titre}}
            </h1>
            <p id="sous-titre"><em>{{spectacle.sous_titre}}</em></p>
            <div class="trait70percent"></div>
            <div *ngFor="let ca of cadre;let i=index" class="context text-center">
                <p *ngIf="i%2==0">{{ca}}</p>
                <em *ngIf="i%2==1">{{ca}}</em>
            </div>
            <div class="trait70percent"></div>
            <p *ngFor=" let context of creation; let i=index" class="text-center">
                {{context}}
            </p>
            <div class="trait70percent"></div>
            <p>{{spectacle.resume}}</p>
            <div *ngFor="let img of photos" class="image">
                <div class="wrapper-image">
                    <img [src]="img" alt="photo spectacle">
                </div>
            </div>
            <div class="trait70percent"></div>
            <h6 class="text-center">
                Voir nos prochaines dates :
            </h6>
            <a href="/agenda">
                <button class="btn btn-dark" (click)="modal.dismiss('Cross click')">
                    <div id="wrapper-btn">
                        <div id="fleche">-></div>
                        <div id="agenda">agenda</div>
                    </div>
                </button>
            </a>
        </div>
    </div>
</ng-template>
<button class="btn btn-lg btn-outline-primary" (click)=" openVerticallyCentered(content)">
    ->
</button>