.dark-modal .modal-content {
    background-color: #292b2c;
    color: white;

}

.dark-modal .close {
    color: white;
}

.light-blue-backdrop {
    background-color: #5cb3fd;
}

#btn {

    width: 100%;
    height: 100%;
    opacity: 0;
    margin: 0 !important;

}

.wrapper-image {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    .previous {
        display: flex;
        height: 10vh;
        cursor: pointer;
        transition: all ease-in-out 0.2s;
    }

    .next {
        display: flex;
        height: 10vh;
        cursor: pointer;
        transition: all ease-in-out 0.2s;
    }

    .next:hover {
        scale: 1.1;
        transition: all ease-in-out 0.2s;
    }

    .previous:hover {
        scale: 1.1;
        transition: all ease-in-out 0.2s;
    }

    img {
        display: flex;
        max-width: 80%;
        height: auto;
        max-height: 80dvh;
    }

}

.credit-photo {
    font-size: small;
    font-weight: lighter;
    font-style: italic;
}

.modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;

}

.modal-content {
    background-color: var(--bg-color-primary);
}

#wrapper-btn {
    display: flex;
    flex-direction: row;
    overflow: hidden;

    #fleche {
        display: flex;
        width: 100%;
        left: 50%;
        transform: translateX(-200%);
    }

    #agenda {
        display: flex;
        width: 100%;
        left: 50%;
        transform: translateX(-15%);
    }
}

#wrapper-btn:hover #fleche,
#wrapper-btn:hover #agenda {
    transform: translateX(150%);
    transition: all ease-in-out 0.3s;
}

#wrapper-btn:not(:hover) #fleche {
    transform: translateX(-200%);
    transition: all ease-in-out 0.3s;
}


#wrapper-btn:not(:hover) #agenda {
    transform: translateX(-12%);
    transition: all ease-in-out 0.3s;
}

#titre-spectacle {
    padding: 0;
    font-size: 7vw;
}

.context * {
    margin: 0 !important;
}

#sous-titre {
    margin: 0;
    font-weight: 100;
}

.footer-spectacle {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;

    .agenda-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5px;
        padding: 0 25px;
    }

    .dossier-comp {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        padding: 0 25px;


        #download {
            cursor: pointer;
            transition: 0.2s all ease-in-out;
        }

        h6 {
            margin: 0;
        }
    }
}

#download:hover {
    scale: 1.1;

}