<div class="wrapper-spectacle">
    <div class="retour-menu text-center">
        <a href="" class="link-retour-menu">
            <img src="../../../assets/images/compagnie/images/logo-rond.PNG" alt="image centrale logo théâtre">
        </a>

    </div>
    <h1>Les spectacles</h1>
    <div class="wrapper-card">
        <div *ngFor="let spectacle of spectacles; let i=index" class="card">
            <div class="image">
                <img [src]="spectacle.photo_principale" alt="photo spectacle" class="card">
            </div>
            <div class="description">
                <app-modal-presentation-spectacles [spectacles]="spectacles"
                    [index]="i"></app-modal-presentation-spectacles>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>