.wrapper-spectacle {
    padding-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--bg-color-primary);
    min-height: 100vh;
    overflow-x: hidden;

    .wrapper-card {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-direction: row;

        .card {
            display: flex;
            width: 20em;
            margin: 5px;
            --bs-card-border-radius: var(--bs-border-radius);

            img {
                display: flex;
                width: 100%;
                height: 100%;
                margin: 0;
            }


        }
    }
}

.description {
    cursor: pointer;
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    color: var(--bg-color-primary);
    border-radius: var(--bs-border-radius);
    app-modal-presentation-spectacles {
        position: absolute;
        width: 100%;
        height: 100%;
    }
}

.description:hover {
    transition: all 0.2s ease-in-out;
    opacity: 1;
    background-color: rgba(3, 3, 3, 0.593);

}

.description:not(:hover) {
    transition: all 0.4s ease-in-out;
    opacity: 0;

}