<div class="wrapper-home-page">
    <div class="titre">
        <p>BISTANCLAQUE-PAN</p>
    </div>
    <div class="wrapper-logo-central">
        <img src="../../../assets/images/home-page-image/fond_detoure.webp" alt="image centrale logo théâtre">
    </div>
    <div class="theatre-texte">
        <p>THEATRE</p>
    </div>
    <div class="wrapper-navbar">
        <ul ngbNav #nav="ngbNav" class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" routerLink="/compagnie" routerLinkActive="activebutton"
                    ariaCurrentWhenActive="page">Compagnie</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/spectacles" routerLinkActive="activebutton"
                    ariaCurrentWhenActive="page">Spectacles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/contact" routerLinkActive="activebutton"
                    ariaCurrentWhenActive="page">Contact</a>

            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/agenda" routerLinkActive="activebutton"
                    ariaCurrentWhenActive="page">Agenda</a>
            </li>
        </ul>

        <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
</div>