.wrapper-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 8vh;
    background: black;
    color: var(--bg-color-primary);
    font-size: small;
    font-style: italic;
    font-weight: 200;
    border: 0;
    margin: 0;
    padding: 1vh 0;

    .designed-by {
        margin: 10px 0;
    }
}