<ng-template #content let-modal>
    <div class="wrapper">

        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>

        <div class="modal-body">
            <h2>{{member.prenom}} {{member.nom}}</h2>
            <div class="photo_popup">
                <img [src]="member.photo_url" alt="">
            </div>
            <p>{{member.biographie}}</p>
        </div>
    </div>
</ng-template>

<button class=" btn" (click)="openVerticallyCentered(content)">
</button>