<ng-template #content let-modal>
    <div class="wrapper">

        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>

        <div class="modal-body">
            <div class="text-center">
                <h2>{{member.prenom}} {{member.nom}}</h2>
                <p class="role">{{member.role}}</p>
            </div>
            <div class="photo_popup">
                <img [src]="member.photo_url" alt="">
            </div>
            <div class="trait70percent"></div>
            <p class="biographie">{{member.biographie}}</p>
            <div class="trait70percent"></div>

            <div class="fin-modal">
                <ul>
                    <h6>Spectacles :</h6>
                    <li *ngFor="let spectcale of spectacles">{{spectcale}}</li>
                </ul>
                <div class="vertical-bar"></div>
                <a [href]="member.cv_url" target="_blank">
                    <p>
                        mon cv
                    </p>
                    <img src="./../../../assets/icon/download.svg" alt="icon download">
                </a>
            </div>
        </div>
    </div>
</ng-template>

<button class=" btn" (click)="openVerticallyCentered(content)">
</button>