.dark-modal .modal-content {
    background-color: #292b2c;
    color: white;

}

.dark-modal .close {
    color: white;
}

.light-blue-backdrop {
    background-color: #5cb3fd;
}

.btn {
    width: 100%;
    height: 100%;
    opacity: 0;
    margin: 0 !important;
}

.modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;

}

.photo_popup {
    display: flex;
    width: auto;
    margin: 10px 0;

    img {
        height: 30vh;

        width: auto;
    }


}

.modal-content {
    background-color: var(--bg-color-primary);
    text-align: justify;

    .biographie {
        width: 90%;
    }

    a {
        text-align: center;
        text-decoration: none;
        cursor: pointer;
    }
}

.role {
    color: rgb(255, 180, 68);
}

.fin-modal {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90%;

    ul {
        list-style: none;
        padding: 0;

        li {

            align-items: center;
            justify-content: center;
            margin: 0;
        }
    }

    p {
        margin: 0;
    }

    .vertical-bar {
        width: 0.5px;
        background-color: lightgray;
        margin-top: 1em;
        margin-bottom: 1em;
    }
}